body { background: #26c8c8; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 16px; display: flex; }
.block-product-0 { color: #ac3a88; font-size: 19px; margin-bottom: 5px; }
.block-database-1 { color: #dd7d9f; font-size: 17px; margin-bottom: 5px; }
.block-database-2 { color: #e741e5; font-size: 14px; margin-bottom: 5px; }
.block-helper-3 { color: #1e2279; font-size: 21px; margin-bottom: 5px; }
.block-email-4 { color: #93dae6; font-size: 13px; margin-bottom: 5px; }
.block-config-5 { color: #97097; font-size: 20px; margin-bottom: 5px; }
.block-product-6 { color: #5706fa; font-size: 16px; margin-bottom: 5px; }
.block-router-7 { color: #b6c227; font-size: 20px; margin-bottom: 5px; }